# JACKSPW — Environment Variables
# Copy ke .env.local, jangan di-commit ke Git

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/jackspw"

# Digiflazz
DIGIFLAZZ_USERNAME=""
DIGIFLAZZ_API_KEY=""

# Tripay
TRIPAY_API_KEY=""
TRIPAY_PRIVATE_KEY=""
TRIPAY_MERCHANT_CODE=""

# App
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ADMIN_SECRET="ganti_dengan_random_string"
